<div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Internship Logistic Tool</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addUser" type="submit">Add User</button>
             <button class="btn btn-outline-success" type="submit">Add Team</button>
          </div>
        </div>
      </nav>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">User ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Team ID</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userList">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td>{{user.role}}</td>
           
            <td>

                            <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#editUser" (click) = "editUser">Edit</button>
                            <button type="button" class="btn btn-outline-danger">Delete</button>

            </td>
        
        </tbody>
      </table>
  
  <!-- Add User modal -->
  <div class="modal fade" id="addUserx" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add User</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          


        </div>
        
      </div>
    </div>
  </div>


  
  <!-- Edit user modal -->
  <div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">User Form</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
    

            <form [formGroup]="userDetail">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="text" formControlName = "username" class="form-control" id="username" aria-describedby="emailHelp">
                    <!--div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div-->
                  </div>

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email</label>
                  <input type="email" formControlName = "email" class="form-control" id="email" aria-describedby="emailHelp">
                  <!--div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div-->
                </div>
                
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Password</label>
                    <input type="password" formControlName = "password" class="form-control" id="password" aria-describedby="emailHelp">
                    <!--div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div-->
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Role</label>
                    <select formControlName = "role" class="form-select" aria-label="Default select example">
                        <option value="mentor">Mentor</option>
                        <option value="member">Member</option>
                      </select>
                  </div>

                 

                    <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-outline-success" (click) = "addUser()" (click) = "updateUser()">Add User</button>
                    </div>

              </form>


        </div>
       
      </div>
    </div>
  </div>

</div>

