
<mat-card class="card">
  <img mat-card-image src="{{user.image}}" alt="User profile picture">
  <mat-card-content>
    <h2>{{user.username}}</h2>
    <p>Email: {{user.email}}</p>
    <p>Role: {{user.role}}</p>
    <p>TeamName: {{team?.name ? team.name: "doesn't have a team"}}</p>
    <div class = "buttons">
      <button *ngIf="user.role !== 'mentor'" (click)="deleteUser(user.id)" mat-raised-button class="button">Delete User</button>
    </div>
    <!-- Other fields go here -->
  </mat-card-content>
</mat-card>