<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1>Leave the team?</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Are you sure you want to leave {{team?.name}}?</p>
        <p>You will need to contact a team leader to get assigned to another team.</p>
    </mat-card-content>
    <div mat-dialog-actions>
        <button mat-stroked-button (click)="onNoClick()">No</button>
        <button mat-stroked-button color="warn" (click)="onYesClick()">Yes</button>
    </div>
</mat-card>