<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <p class="title">Menu</p>
    <div class="buttons">
      <button mat-raised-button class="button" routerLink="myData">See my data</button>
      <button mat-raised-button class="button" routerLink="allStudents">See all users</button>
      <button mat-raised-button class="button" routerLink="myStudents">See my students</button>
      <button mat-raised-button class="button" routerLink="activity">Activity</button>
      <button mat-raised-button class="button" routerLink="completed">Completed Tasks</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <div *ngIf="showAddActivity">
      <mat-toolbar color="primary">
        <button mat-raised-button color="accent" (click)="addActivity()">Add Activity</button>
      </mat-toolbar>
    </div>
    <div class="card-container">

