.sidenav-container {
    overflow: scroll;
    height: auto;
    min-height: 80vh;
  }

  .sidenav-container::-webkit-scrollbar {
    display:none;
  }
  
  .sidenav {
    width: 10%;
    background-color: #673ab7;
    color: white;
    overflow-x: hidden;
  }
  
  :host{
    display: block;
  }
  
  .button {
    width: 90%;
    margin: 5% auto;
    margin-left: 5%;
    color: white;
    background-color: #9868eb;
  }
  
  p{
    color: white;
    background-color: #673ab7;
  }

html,body{
    height: 100%;
    margin: 0;
}

body {
  min-width: 100%;
  overflow-x: hidden;
}


.mat-sidenav-container {
    min-height: 80vh;
  }

  mat-sidenav-content {
    padding: 20px;
    overflow: hidden;
    height: 100%;
  }

  .title{
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
  }

  .logout-button {
    position: fixed;
    top: 10px;
    right: 50px;
    z-index: 9999;
    width: 44px;
    height: 44px;
  }
  

    