<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <p class="title">Menu</p>

    <div class="buttons">
      <button mat-raised-button class="button" routerLink="myData">See my data</button>
      <button mat-raised-button class="button" routerLink="myGrades">See my grades</button>
      <button mat-raised-button class="button" routerLink="myAttendance">See my attendance</button>
      <button mat-raised-button class="button" routerLink="myFeedback">See my feedback</button>
      <button mat-raised-button class="button" routerLink="myTeam">See my team</button>
    </div>
      <div class = "buttons">
        <button mat-raised-button class="button" routerLink="myData">See my data</button>
        <button mat-raised-button class="button" routerLink="myGrades">See my grades</button>  
      </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>