.sidenav-container {
    height: 100%;
}

.sidenav-container::-webkit-scrollbar {
    display: none;
}

.sidenav {

    width: 10%;
    background-color: #673ab7;
    color: white;
    overflow-x: hidden;
}

:host {
    display: block;
}

.button-container {
    display: flex;
    justify-content: center;
    max-height: 50px; /* Adjust the max-height as needed */
  }
  
  .button {
    width: 90%; /* Adjust the width as needed */
    color: white;
    background-color: #9868eb;
    padding: 8px 16px;
    margin: 5% auto;
  }
  
p {
    color: white;
    background-color: #673ab7;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    min-width: 100%;
    overflow-x: hidden;
}


.mat-sidenav-container {
    min-height: 80vh;
}

mat-sidenav-content {
    padding: 20px;
    overflow: hidden;
    height: 100%;
}

.title {
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
}