<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
<mat-toolbar>
  <span class="toolbar-title">Internship Logistic Tool</span>

  <button class="toolbar-button" mat-button color="red" aria-label="Example icon-button with menu icon">
    Home
  </button>
  <button class="toolbar-button" mat-button color="Basic" aria-label="Example icon-button with menu icon">
    Guides
  </button>

  <span class="spacer"></span>
  <button mat-raised-button color="primary" aria-label="Example icon-button with menu icon">
    <mat-icon>account_circle</mat-icon>
    Login
  </button>
</mat-toolbar>

<div class="content" role="main">

  <!-- Welcome -->
  <div class="home-welcome">
    <h1 class="title">Welcome!</h1>
    <p>Welcome to our site! Our logistics tool for internships is designed to help you manage your tasks, deadlines, and
      progress with ease. We are committed to providing you with the support you need to make the most out of your
      internship experience.</p>
  </div>

  <!-- Make Account -->
  <div class="container">

    <div class="container-child">
      <mat-card>
        <mat-card-header>
          <h2>Join us!</h2>
        </mat-card-header>
        <mat-card-content>
          <p>Create your account and manage your internship teams.</p>
        </mat-card-content>
        <mat-card-actions style="margin-left: auto; margin-right: auto; margin-top: 20px;">
          <button mat-raised-button color="primary">Create Account</button>
        </mat-card-actions>
        <mat-card-actions style="margin-left: auto; margin-right: auto;">
          Already have an account? <button mat-button>Sign in</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class=" container-child">
      <mat-card>
        <mat-card-header>
          <h2>Get started!</h2>
        </mat-card-header>
        <mat-card-content>
          <p>Read our quick guides to get familiar with our tool.</p>
        </mat-card-content>
        <mat-card-actions style="margin-left: auto; margin-right: auto; margin-top: 20px;">
          <button mat-raised-button color="primary">Guides</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <!-- Links -->
  <div class="card-container">
  </div>

  <!-- Footer -->
  <footer>
  </footer>

  <svg id="clouds" xmlns="http://www.w3.org/2000/svg" width="2611.084" height="485.677" viewBox="0 0 2611.084 485.677">
    <title>Gray Clouds Background</title>
    <path id="Path_39" data-name="Path 39"
      d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
      transform="translate(142.69 -634.312)" fill="#eee" />
  </svg>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>