<div class="todo-container">
  <mat-form-field>
    <input matInput placeholder="Task title" #title>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Task description" #description>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Assignee" [(ngModel)] = "selectedAssignee">
      <mat-option *ngFor="let person of assignees" [value]="person.id">{{person.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addTask(title.value, description.value, selectedAssignee); title.value=''; description.value=''">Add Task</button>
</div>

<div class="test">
  <div class="task-container">
    <div class="task-row">
      <mat-card class="task-card" *ngFor="let task of tasks; let i = index">
        <h2 class="center">{{task.name}}</h2>
        <p class="center">{{task.description}}</p>
        <p class="stanga"><strong>Assigned to:</strong> {{getStudentName(task.studentId)}}</p>
        <button class="gunoi" mat-icon-button color="warn" (click)="deleteTask(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card>
    </div>
  </div>
</div>