.todo-container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }


  .task-grid {
    width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  }
  
  .task-box {

    width: calc(50% - 10px);
    margin-bottom: 20px;
    margin-left: 10px;
      
  }


  .test{
    width: 100%;
    margin-top: 50px;
    margin-left: 10px;
    display:flex;
    align-items: start; 
    flex-wrap: wrap;
    flex-direction: row;
  }

  .center {
    text-align:center;
  }
  
  .stanga{
    text-align: left;
    padding-left: 10px;
  }
  
  .gunoi{
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  .task-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
  }
  
  .task-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .task-card {
    width: 350px;  /* Change this value to your desired fixed width */
    margin: 10px;
    border: 1px solid #ccc;
    background-color: white;
    color: purple;
  }
  
  