<div *ngIf="tasks.length === 0">
  <h3>No tasks yet</h3>
</div>

<ul class="task-list">
  <li *ngFor="let task of tasks" class="task-item">
    <div class="task-card">
      <div class="task-label">Task Name:</div>
      <div class="task-name">{{ task.name }}</div>
      <div class="task-label">Task Description:</div>
      <div class="task-description">{{ task.description }}</div>
      <div class="task-actions">
        <div *ngIf="!task.isCompleted">
          <button class="complete-button" (click)="completeTask(task.id)">Complete</button>
        </div>
        <div *ngIf="task.isCompleted" class="completed-task">
          <div class="grade-label">Grade:</div>
          <div class="grade-value">{{ getGrade(task.id) ? getGrade(task.id) : "not graded yet"}}</div>
          <div class="feedback-label">Feedback:</div>
          <div class="feedback-value">{{ getFeedback(task.id) ? getFeedback(task.id) : "no feedback yet"}}</div>
        </div>
      </div>
    </div>
  </li>
</ul>
