<div *ngFor="let activity of activities">
  <h3>{{ activity.name }}</h3>
  <table>
    <thead>
      <tr>
        <th>Task name</th>
        <th>Assigned to</th>
        <th>Task description</th>
        <th>Grade</th>
        <th>Feedback</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{ task.name }}</td>
        <td>{{ getNameByStudentId(task.studentId) }}</td>
        <td>{{ task.description }}</td>
        <td>{{ getTaskGrade(task.id)}}</td>
        <td>{{ getTaskFeedback(task.id)}}</td>
      </tr>
      <tr>
        <td colspan="3"></td>
        <td><strong>Average Grade:</strong></td>
        <td>{{ getAverageGradeForActivity(activity.id) }}</td>
      </tr>
    </tbody>
  </table>
</div>
