.grid-list-top {
  margin-top: 0;
  width: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  max-height: 100vh;
  overflow-y: auto;
}

body, html, app-activity {
  margin: 0;
  padding: 0;
}

app-activity {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.viewport {
  height: 500px;
  width: 100%;
  border: 1px solid black;
}

.activity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.tasks-container {
  max-height: calc(100vh - 450px);
  overflow-y: auto;
  width: 80%;
}

.form-field-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.action-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: -10px; /* Adjust the negative margin value to move the button higher */
}

.tasks-container mat-card {
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

.tasks-container {
  height: 75vh;
  overflow-y: auto;
  box-sizing: border-box;
}

.tasks-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
